
header {
  background-color:#333333;
  color: white;
  height: 100px;
  text-align: center;
  align-items: center;
  padding-top: 20px;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 100px 20px 100px;
}

.offer1, .offer6{
  height: 300px;
  width: 300px;
  border: solid red 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
} 

.offer2, .offer7 {
  height: 300px;
  width: 300px;
  border: solid green 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
} 

.offer3, .offer8 {
  height: 300px;
  width: 300px;
  border: solid yellow 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
} 

.offer4, .offer9 {
  height: 300px;
  width: 300px;
  border: solid lightseagreen 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
} 

.offer5{
  height: 300px;
  width: 300px;
  border: solid lightcoral 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
} 

footer {
  background-color: lightgray;
  height: 40px;
  text-align: center;
  align-items: center;
  padding-top: 10px;
}